.edit-form{
    display: none;
    input{
        height: 25px;
        width: 200px;
        margin-right: 10px;
    }
    button{
        padding: 0 20px;
        height: 30px;
        background-color: burlywood;
        border: none;   
    }
}